<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
    <div class="cadastro">
        <form action="/adicionar" method="POST" enctype="multipart/form-data">
            <label for="id">ID</label>
            <input type="number" id="id" name="id" required value="">
            <label for="nome">Nome</label>
            <input typoe="text" id="nome" name="nome" value="">
            <label for="file">Imagem de Perfil</label>
            <input type="file" id="file" name="avatarFile">
            <button type="submit">cadastrar</button>
          </form>
    </div>
  </body>
</html>

